.hero {
    position: relative;
    width: 100%;
}

.hero img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.hero-content h1 {
    background-color: white;
    opacity: 75%;
    padding: 2rem 0;
    font-size: 65px;
    font-weight: 600;
    margin: 0;
}

.hero-content h2 {
    background-color: white;
    opacity: 75%;
    padding: 2rem 0;
    font-size: 36px;
    font-weight: 400;
    color: #666;
    margin: 0;
}